.Columns {
    display: block;
    width: 100%;
}
.Columns>* {
    display: inline-block;
    width: 50%;
    position: relative;
}

@media (max-width: 600px) { 
    .Columns>* {
        display: block;
        width: 100%;
    }
}