
.App {
    max-width: 1200px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.code {
    font-family: source-code-pro, Menlo, Monaco, 'Fira Code', Consolas, 'Courier New', monospace !important;
}

.diagramParams {
    margin-bottom: 1rem;
}
@media screen and (max-width: 700px) {
    .appShrinkableButton {
        width: 4em;
        white-space: pre;
        overflow: hidden;
    }

    .appShrinkableText {
        display: none;
    }
}
