.root {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.App {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.App>*:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}
