.CopyField {
    position: relative;
}

.CopyButton {
    position: absolute !important;
    top: 4px;
    right: 11px;
}

.CopyFieldPre {
    border-width: 2px !important;
    white-space: pre;
}

.CopyField.copy-hover .CopyFieldPre {
    border: 2px solid #209cee;
}
