.DiagramType {
    width: 100%;
    text-align: left;
}

.DiagramTypeSelectOutter {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
    position: relative;
    height: 2.5em;
    font-size: 1rem;
}
.DiagramTypeSelect {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    position: relative;
    vertical-align: top;

    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;

    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: 0;

    padding-right: 2.5em;
}

.DiagramTypeSelectOutter::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -0.6em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
    display: block;
    border-color: #3273dc;
    right: 1.125em;
    z-index: 4;
    font-size: 0.8rem;
}
