name: 'build'

on:
    push:
        branches:
            - '*'
        tags:
            - 'v*'

    schedule:
        - cron: "07 00 * * 4"

jobs:
    build:
        name: 'Build'
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout"
              uses: actions/checkout@v2

            - name: "Set environment variables"
              run: |
                  echo "GITHUB_SHA_SHORT=$(echo ${GITHUB_SHA} | cut -c1-8)" >> "${GITHUB_ENV}"
                  echo "IMAGE_NAME=$(echo ghcr.io/${{ secrets.CR_USER }}/${{ secrets.IMAGE_NAME }})" >> "${GITHUB_ENV}"
                  echo "BUILD_DATE=$(TZ=Europe/Paris date -Iseconds)" >> "${GITHUB_ENV}"
                  echo "VERSION=$(cat package.json | jq -r '.version')" >> "${GITHUB_ENV}"
                  echo "REFNAME=$(echo "${{ github.ref }}" | sed -e 's/.*\///')" >> "${GITHUB_ENV}"

            - name: "Set environment variables if tag"
              if: "contains(github.ref, 'refs/tags')"
              run: |
                  echo "DOCKER_TAGS=${{ env.IMAGE_NAME }}:${{ env.REFNAME }},${{ env.IMAGE_NAME }}:latest" >> "${GITHUB_ENV}"

            - name: "Set environment variables if simple commit"
              if: "!contains(github.ref, 'refs/tags')"
              run: |
                  echo "DOCKER_TAGS=${{ env.IMAGE_NAME }}:${{env.GITHUB_SHA_SHORT}},${{ env.IMAGE_NAME }}:${{ env.VERSION }}-git,${{ env.IMAGE_NAME }}:${{ env.VERSION }}-${{ env.GITHUB_SHA_SHORT }},${{ env.IMAGE_NAME }}:${{ env.REFNAME }},${{ env.IMAGE_NAME }}:${{ env.REFNAME }}-${{ env.GITHUB_SHA_SHORT }}" >> "${GITHUB_ENV}"

            - name: 'Login to github container registry'
              uses: docker/login-action@v1
              with:
                  registry: ghcr.io
                  username: ${{ secrets.CR_USER }}
                  password: ${{ secrets.CR_PAT }}

            - name: "Build image builder"
              uses: docker/build-push-action@v2
              with:
                  push: true
                  no-cache: true
                  build-args: |
                      POINT=${{ env.GITHUB_SHA_SHORT }}
                      VCS_REF=${{ env.GITHUB_SHA_SHORT }}
                      BUILD_DATE=${{ env.BUILD_DATE }}
                      VERSION=${{ env.VERSION }}
                  tags: "${{ env.DOCKER_TAGS }}"

